@mixin mobi {
  @media screen and (max-width: 739px) {
    @content;
  }
}
@mixin back($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center center;
  flex: 1;
}
