header {
  height: 96px;
}
@media screen and (max-width: 739px) {
  header .nav .Home__category {
    display: none;
  }
  header .nav .Home__category--button {
    display: block;
  }
}

#main .slider {
  height: 100vh;
}
#main .slider__images video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  opacity: 0.8;
  display: block;
}
@media screen and (max-width: 739px) {
  #main .main--intro {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #main .text--main {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
  }
  #main .text--des {
    text-align: center;
    font-size: 1rem;
  }
  #main .button--intro {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 739px) {
  .core .all--core {
    flex-direction: column;
  }
  .core .all--core .dbl {
    width: 80%;
  }
  .core .intro-techno {
    display: none;
  }
}

@media screen and (max-width: 739px) {
  .see--what--new--al .context--our--text {
    flex-direction: column;
  }
  .see--what--new--al .context--our--text .context-our-intro {
    width: 100%;
  }
  .see--what--new--al .card__intro {
    flex-direction: column;
  }
  .see--what--new--al .card__intro--item {
    width: 100%;
  }
}

.keep__up {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}
.keep__up-container {
  width: 100%;
  height: 100%;
}
.keep__up-container ul {
  width: 100vw;
  list-style-type: none;
  display: flex;
  flex: 1;
  position: relative;
}
.keep__up-container ul li {
  height: 100vh;
  transition: all 1s;
  opacity: 0.5;
  position: relative;
}
.keep__up-container ul li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
  font-size: 18px;
  width: 200px;
  visibility: hidden;
  z-index: -1;
}
.keep__up-container ul li:hover p {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  animation: animate 1.5s;
}
@keyframes animate {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.keep__up-container ul li:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1470770903676-69b98201ea1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fG5hdHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  flex: 1;
}
.keep__up-container ul li:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  flex: 1;
}
.keep__up-container ul li:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1629831676333-8e33b2d7cdd9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  flex: 1;
}
.keep__up-container ul li:nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1431794062232-2a99a5431c6c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG5hdHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  flex: 1;
}
.keep__up-container ul li:hover {
  flex: 2;
  opacity: 1;
}

/*# sourceMappingURL=sass.css.map */
