/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x:hidden; */
}
:root {
  --none: none;
  --primary-color: #ec008c;
}
/*main css*/

/*begin header nav css*/
#main {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* overflow-y: hidden; */
}
#main.opacity__active {
  opacity: 0.5;
}

/*ẩn hiện thanh scrollbar   */
/* body::-webkit-scrollbar {
  width: auto;
  display: block;
} */
body {
  /* background-color:; */
  background-color: black;
  /* overflow: hidden; */
  font-family: "Atkinson Hyperlegible", sans-serif;
  /* visibility: hidden; */
}

.nav {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999999;
}
.container {
  width: 100%;
  height: 6em;
  background-color: #212121;
  /* border-bottom: 1px solid #fff; */
  color: aliceblue;
  display: flex;
}
.Home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}
.Home section {
}
.Home section.Home__icon {
  flex-grow: 1;
  padding: 1vh;
  display: flex;
  font-size: 4vh;
  justify-content: space-evenly;
  /* word-spacing: 1em; */
}
section.Home__icon {
  /* text-decoration: none; */
  /* text-align: center; */
}
section.Home__icon img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  /* aspect-ratio: 1/1; */
}
section.Home__icon span {
  align-self: center;
  letter-spacing: 0.2em;
}
.Home__icon:hover {
  cursor: pointer;
}
.Home section.Home__category {
  flex-grow: 12;
  height: 100%;
}
.Home__category--container {
  height: 100%;
  width: 100%;
  display: flex;
}
.Home__category--menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Home__category--item {
  height: 100%;
  cursor: pointer;
  text-align: center;
  align-self: center;
  display: flex;
  /* transition: all 0.3s; */
  position: relative;
  /* box-sizing: border-box; */
}
.Home__category--item::after {
  content: "";
  transform: rotate(90deg) translatex(-50%);
  position: relative;
  bottom: -50%;
  left: -50%;
  background-color: #ec008c;
  height: 100%;
  width: 7px;
  z-index: 9;

  visibility: hidden;
}
.Home__category--item.hien::after {
  content: "";
  visibility: visible;
}

.Home__category--item div {
  align-self: center;
  width: 100%;
}
.Home__category--item i {
  /* position: relative; */
  font-size: smaller;
  font-weight: 200;
  margin-left: 1em;
  transition: all 0.2s;
}
.transtrom180_acti {
  transform: rotateX(180deg);
}
.boder__acti {
  border-bottom: 3px solid #ec008c;
}

.Home__category--info {
  width: 50%;
}
.Home__category--info-all {
  width: 80%;
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Home__category--info-look {
  font-size: xx-large;
  font-weight: 100;
}
.Home__category--tryfor {
  border: solid 2px var(--primary-color);
  width: 100%;
  height: 50%;
  padding: 1em;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: flex;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  /* color: transparent; */
  z-index: 99;
}
.Home__category--try {
  height: 100%;
}

.Home__category--button {
  display: none;
}
.Home__category--try span {
  transition: width 0.1s;
  cursor: pointer;
  /* background-color: var(--primary-color); */
}

.Home__category--try span:nth-child(4) {
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);

  display: block;
  position: absolute;
  z-index: 99;

  left: -2px;
  /* top: 50%; */
  transform-origin: left;
  z-index: -1;
  transition-delay: 0.3s;
}
.Home__category--try:hover span:nth-child(4) {
  width: 120%;
  transform: rotate(180deg);
}
.Home__category--try span:nth-child(5) {
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);

  display: block;
  right: 0;
  position: absolute;
  z-index: 99;
  transform: rotate(0deg);
  z-index: -1;
}
.Home__category--try:hover span:nth-child(5) {
  width: 120%;
}
ul {
  position: relative;
  transition: all 0.5s;
  padding: 2px;
}
ul > li {
  width: 2rem;
  height: 0.1rem;
  background-color: #e6d7e0;
  /* color: #ec008c; */
  margin: 0.5em;
  list-style-type: none;
  transition: all 0.5s;
  position: relative;
}

.tranform45 {
  /* top: 0; */
  position: relative;
  transform: rotate(45deg);
}
.tranform45re {
  /* top: 0; */
  position: relative;
  transform: rotate(-45deg);
}
.tranform360 {
  position: relative;
  transform: rotate(3240deg);
  border-top: 1px solid;
  border-top-left-radius: 40%;
}
/* .hidden_nt2 */
li:nth-child(2) {
  width: 3vh;
  float: right;
}
ul:target li {
  transform: rotate(360deg) !important;
}
/*end header nav css*/
/*main css*/
.slider {
  width: 100%;
  position: relative;
  margin-top: 6em;
}
.slider img {
  width: 100vw;
  display: block;
  height: 90vh;
  object-fit: cover;
  transition: all 1s;
}

.slider__images {
  display: flex;
  align-items: center;
  /* max-height: 100%; */
  width: fit-content;
  animation: aniImage 10s infinite ease;
  animation-fill-mode: backwards;
}
@keyframes aniImage {
  25% {
    transform: translatex(-20%);
  }
  50% {
    transform: translatex(-40%);
  }
  75% {
    transform: translatex(-60%);
  }
  100% {
    transform: translatex(-80%);
  }
}

.main--intro {
  position: absolute;
  top: 25%;
  right: 10%;
  color: aliceblue;
  width: 50%;
  /* height: 50px; */
  font-size: x-large;
  font-weight: 600;
}
.main--intro .text--main {
  width: 150%;
  font-size: 60px;
  font-weight: bolder;
}
.main--intro .text--des {
  height: 40%;
  line-height: 25px;
  font-size: x-large;
  font-weight: 500;
  word-spacing: 4px;
}
.transftext {
  opacity: 1;
  display: inline-block;
  margin-left: 1rem;
}
.ani {
  animation: animain 3s cubic-bezier(0, 0, 0.81, 1) infinite;
}

@keyframes animain {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*platform css */
.platform {
  width: 100vw;
  height: 75vh;
  background-color: #e6d7e0;
  opacity: 0;
  position: absolute;
  top: 13vh;
  transition: all 0.5s;
  transform: rotateX(90deg);
  transform-origin: 0% 0%;
}
.platform__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.platform__left {
  width: 30%;
  height: 100%;
  background-color: black;
}
.platform__left:hover {
  cursor: pointer;
}
.platform__right {
}
/*end  platform css*/
.button--intro {
  display: flex;
  position: relative;
  top: 0;
  margin-top: 35px;
}
.view {
  width: 35%;
  /* border: 1px solid #fff; */
  text-align: center;
  background-color: black;
  padding: 10px;
  font-size: large;
  text-transform: uppercase;
  transition: all 0.5s;
}
.view:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 2px black;
}
.try {
  padding: 10px;
  margin-left: 2rem;
  text-align: center;
  width: 35%;
  border: 2px solid rgb(17, 14, 14);
  background-color: rgb(245, 242, 237);
  color: black;
  font-size: large;
  text-transform: uppercase;
  transition: all 0.5s;
}
.button--intro .try:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 3px rgb(17, 14, 14);
}
.core {
  width: 100%;
  /* height: 550px; */
  height: fit-content;

  color: rgb(12, 11, 11);
  background-color: black;
  position: relative;
  /* top: -4px; */
}
.two--core {
  display: flex;
  width: 100%;
  height: 90%;
  margin-top: 100px;
}
.core .all--core {
  /* flex: 0.6; */
  width: 60%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
  flex: 1;
}
.dbl {
  border-radius: 10px;
  width: 42%;
  height: 180px;
}

.contai--core {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  position: relative;
  color: #ffe;
  font-size: 20px;
  font-weight: bolder;
}
.contai--core:hover {
  cursor: pointer;
}
.contai--core .path {
  color: #ec008c;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
}
.img-inf {
  position: absolute;
  top: 0;
  right: 0;
}
.core--1 .img-inf i {
  font-size: 60px;
  color: yellow;
}
.core--2 .img-inf i {
  font-size: 60px;
  color: rgb(190, 48, 71);
}
.core--3 .img-inf i {
  font-size: 60px;
  color: blue;
}
.core--4 .img-inf i {
  font-size: 60px;
  color: rgb(212, 182, 165);
}
.core--1 {
  background-color: #222;
  margin: 3%;
}

.click--infor i {
  color: #ec008c;
  font-size: small;
  font-weight: bold;
  transition: all 0.5s;
  margin-left: 0.5vw;
}
.click--infor {
  font-size: 1.4rem;
  font-weight: bolder;
  /* transition: all 0.7s; */
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}
.contai--core span {
  opacity: 0.6;
  font-weight: 400;
  text-transform: capitalize;
}
.contai--core .name--tech {
  font-size: 29px;
  letter-spacing: 1px;
  font-weight: 599;
}
.contai--core .click--infor:hover i {
  transform: translateX(0.5em);
}
.core .intro-techno {
  /* flex: 0.4; */
  width: 40%;
  background-color: rgb(0, 0, 0);
  color: #ffe;
}
.intro--tech_contai {
  margin: 2.5rem;
}
.core--1:nth-child(4) {
  color: aqua;
}
.trend--tech {
  color: #ec008c;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}
.popular--topics {
  width: 60%;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 3.4rem;
}
.popular--topics,
.trend--tech {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Anton", sans-serif;
}
.text--introtrend {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.click--infor:hover i {
  transform: translateX(5px);
}
.img-inf img {
  width: 4rem;
  height: 4rem;
}
.path,
.trend--tech,
.click--infor i {
  animation: ani1 2s infinite steps(2);
}
@keyframes ani1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

/*begin css see what*/

.see--what--new--al {
  width: 100%;
  height: 1500px;
  display: flex;
  background-color: #181818;
  flex-direction: column;
}
.see--text {
  color: #ec008c;
  font-family: "Anton", sans-serif;
  margin-top: 6%;
  font-size: x-large;
  text-transform: uppercase;
}
.our--lates {
  width: 100%;
  height: 40%;
}
.contain--see {
  width: 100%;
  /* padding-top: 20%; */
  margin-left: 2%;
  height: 100%;
  /* padding-bottom: 20%; */
}
.contain--our {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contain--our--text {
  font-size: xx-large;
  color: #ffe;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 40px;
}
.context--our--text {
  width: 95%;
  height: 80%;
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
  display: flex;
  transition: all 0.5s;
  transform-origin: top;
}

.context-our-intro {
  flex: 1;
  width: 50%;
  height: 100%;
  transition: background-color 0.5s;
}
.row3 p {
  transition: all 0.5s;
}
.context-our-intro:hover p {
  color: black;
}
.see--what--new--al .our--lates .context-our-intro:hover {
  cursor: pointer;
  background-color: rgb(226, 215, 215);
  border-radius: 10px;
}
.context__our-container {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 3%;
  margin: 2%;
}

.row3 {
  width: 100%;
}
.context-our-intro img {
  width: 7vh;
  height: 7vh;
  object-fit: cover;
  border-radius: 50%;
}
.context__our-head {
  display: flex;
  align-items: center;
}
.context-our-intro span {
  display: inline-block;
  color: #ffe;
  font-size: xx-large;
}

.img--content-2 {
  flex: 1;
  width: 50%;
  overflow: hidden;
}
.img--content-2 img {
  position: relative;
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  transition: all 0.5s;
}
.img--content-2:hover img {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 4px;
}

.card__intro {
  background-color: #181818;
  width: 95%;
  color: black;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 3px;
}
.card__intro--item {
  background-color: #222222;
  width: 30%;
  height: fit-content;
  border-radius: 5%;
  position: relative;
  overflow: hidden;
}
.card__intro--item::after {
  content: "";
  height: 0%;
  width: 100%;
  background-color: #ec008c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 1s;
}
.card__intro--item:hover::after {
  height: 100%;
}
.keep__up {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.card__intro--itemContai {
  display: flex;
  flex-direction: column;
  margin: 3em;
  /* justify-content: space-around; */
  align-items: center;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  gap: 1em;
  flex: 1;
  color: #ffffff;
  word-break: break-word;
  z-index: 3;
  position: relative;
}
.card__intro--itemContai img {
  object-fit: cover;
  height: 1.5rem;
  width: 100%;
}
.card__intro--header {
  /* width: 80%; */
  height: 40%;
  font-size: 2em;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 1.6;
  font-weight: bolder;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  width: 100%;
}
.card__intro--itemContai p {
  display: -webkit-box;
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.6;
  color: #eeeeee;
  font-weight: 100;
  /* letter-spacing: 0px; */
  /* word-break: break-all; */
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.card__intro--Icon {
  margin-top: auto;
}
/*reponsive*/
@media screen and (max-width: 1200px) {
  .intro-techno {
    display: none;
  }
  .core .all--core {
    flex: 1;
  }

  .core--1 {
    margin: 2rem;
  }
  .img--content-2 {
    width: 100%;
    height: 100%;
  }

  .img--content-2 img {
    object-fit: contain;
    /* height: 500px; */
    width: 100%;
  }
  .Home__category {
    visibility: hidden;
  }
  .Home__category--info-all {
    /* display: none; */
    justify-content: flex-end;
  }
  .Home__category--try,
  .Home__category--item {
    display: none;
  }
  .Home__category--button {
    display: block;
  }
  section.Home__category--info-look,
  .Home__category--button {
    visibility: visible;
    padding: 2vh;
  }
  .main--intro {
    width: 95vw;
    height: 100vh;
    right: 0;
  }
  .main--intro .text--main {
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
  }
  .button--intro {
    justify-content: center;
    margin-top: 0;
  }
  .text--des {
    max-height: 30%;
    line-height: 18px;
    font-size: large;
    font-weight: 500;
    word-spacing: 1px;
  }
  @media screen and (max-width: 740px) {
    .intro-techno {
      display: none;
    }
    .core .all--core {
      display: flex;
      width: 100%;
      height: fit-content;
    }

    .core--1 {
      padding: 1%;
      margin: 1%;
      width: 64%;
      margin: 2rem;
    }
    .context-our-intro {
      display: none;
    }
    .img--content-2 {
      width: 50%;
    }
    .img--content-2 img {
      width: 100%;
    }
    .context--our--text {
      flex-direction: column;
      flex: 1;
      width: 100%;
      overflow: hidden;
    }

    .img--content-2 {
      flex: 1;
      width: 100%;
    }
    .slider img {
      width: 100%;
      object-fit: cover;
      height: 600px;
      object-position: center center;
    }
    .slider__images {
      animation-name: animateMobi;
    }
  }
}
@keyframes animateMobi {
  25% {
    transform: translatex(-100%);
  }
  50% {
    transform: translatex(-200%);
  }
  75% {
    transform: translatex(-300%);
  }
  100% {
    transform: translatex(-400%);
  }
}

.displayBlock {
  transform: rotateX(0deg);
  width: 100vw;
  height: 75vh;
  opacity: 0.8;
  /* display: block; */
}
.animate {
  transform: translateY(100%);
  opacity: 0;
  transition: all 1.5s;
}
.active {
  opacity: 1;
  transform: translate(0);
}

.create--better {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  font-size: xx-large;
  font-weight: bolder;
  font-size: 3em;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  background: linear-gradient(
    180deg,
    rgba(238, 16, 138, 0.849),
    rgb(70, 67, 67)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  /* z-index: -1; */
}
.create--better:hover {
}

.create__text {
  color: #ffffff;
  font-size: 1.1em;
  line-height: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  text-overflow: ellipsis;
}
.create__text--info {
  color: #ffffff;
}
/*load trang*/
.loader_container {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #181818 !important;
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  transition: all 0.5s;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
  visibility: visible;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.keep__up {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
